.about_block{
	padding-top: $block_margin_vertical;
	padding-bottom: $block_margin_vertical;
	background-color: $white;
	.list_skills{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-bottom: $block_margin_vertical - 5px;

		.skill{
			width: 100px;
			height: 40px;
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			background-color: $black;
			margin-bottom: 5px;
			
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			border-radius: 5px;
			&.skill_html5{
				background-color: $html5_color;
				color: $white;
			}
			&.skill_css3{
				background-color: $css3_color;
				color: $white;
			}
			&.skill_php7{
				background-color: $php7_color;
				color: $white;
			}
			&.skill_js{
				background-color: $js_color;
				color: $black;
			}
			&.skill_jq{
				background-color: $jq_color;
				color: $white;
			}
			&.skill_b{
				background-color: $b_color;
				color: $white;
			}
			&.skill_sql{
				background-color: $sql_color;
				color: $white;
			}
			&.skill_bitrix{
				background-color: $bitrix_color;
				color: $white;
			}
			&.skill_sass{
				background-color: $sass_color;
				color: $white;
			}
			&.skill_node{
				background-color: $node_color;
				color: $white;
			}
			&.skill_git{
				background-color: $git_color;
				color: $white;
			}
			&.skill_gulp{
				background-color: $gulp_color;
				color: $white;
			}
			&.skill_react{
				background-color: $react_color;
				color: $white;
			}
			&.skill_redux{
				background-color: $redux_color;
				color: $white;
			}
			&.skill_angular{
				background-color: $angular_color;
				color: $white;
			}
		}
	}
	.content{
		.about__left_img{
			width: 100%;
		}
		.about__right_text{
			height: 100%;
			text-align: center;
		}
	}
}