@import "modules/styles_var/variables.scss";



*{
	font-family: 'Inter';
}

a{
	color: $black;
	transition: 0.3s;
	outline: none;
	&:hover{
		color: $sky !important;
	}
}

body{
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

#root{
	height: 100vh;
}

.App{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	height: 100%;
	min-height: 100%;
	.main_content{
		background-color: $gray1;
	}
}
.hw_full{
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
}
.title_block{
    width: 100%;
    display: flex;
    justify-content: center;

	margin-bottom: $block_margin_vertical;
	h2{
		font-size: 64px;
		line-height: 77px;
		font-weight: 700;
		width: fit-content;

		display: flex;
		flex-direction: column;
		align-items: center;

		&::after{
			content: "";
			width: 100px;
			height: 6px;
			background: #000;
		}
	}
}
.mb_block{
	margin-bottom: $block_margin_vertical;
}
.center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fs24{
	font-size: 24px;
}
.fs36{
	font-size: 36px;
}
.fs64{
	font-size: 64px;
}

.border_r{
	border-radius: 15px;
}
.border_r__top{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.border_r__bottom{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

@import "components/blocks/AboutBlock/styles.scss";
@import "components/blocks/ExperienceBlock/styles.scss";
@import "components/blocks/Footer/styles.scss";
@import "components/blocks/Header/styles.scss";
@import "components/blocks/MainBlock/styles.scss";
@import "components/blocks/ContactBlock/styles.scss";

@import "components/cards/CardPost/styles.scss";
@import "components/cards/CardPostList/styles.scss";

@import "components/forms/ContactForm/styles.scss";