@import "modules/styles_var/variables.scss";

*{
	font-family: 'Inter';
}

a{
	color: $black;
	transition: 0.3s;
	&:hover{
		color: $sky !important;
	}
}

body{
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

#root{
	height: 100vh;
}

.App{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	height: 100%;
	background-color: $gray1;
}

.fs36{
	font-size: 36px;
}