
.experience_block{
	padding-top: $block_margin_vertical;
	padding-bottom: $block_margin_vertical;
	background-image: url('/img/Bg2.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}